@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// DARK MODE
// ----------------------------------- //

body.dark{
  background: #130F1C;
  .text_label{
    color: #BAB9BD;
  }
  .text_subscribe{
    color: #BAB9BD;
  }
  .login_container{
    background: #1F1B29;
  }
  .contact_container{
    background: #1F1B29;
  }
  .contact_container_sm{
    background: #1F1B29;
  }
  .checkout_container{
    background: #1F1B29;
  }
  .text_subscribe{
    color: #BAB9BD;
  }
  .bg_input{
    background: #2E2A36;
  }
  ::placeholder {
    color: #99969E;
  }
  .text_darkmode_title{
    color: #99969E;
  }
  .login_button_social{
    background-color:  #2E2A36;
    border: none;
    &:hover{
      background-color: #63626a;
      cursor: pointer;
      transition: .6s;
    }
  }
  .login_icon1{
    background-image: url("assets/images/login_icon1_dark.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .login_icon2{
    background-image: url("assets/images/login_icon2_dark.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .checkmark {
    background: #2E2A36;
    border: 1px solid #f0eded;
  }
  .slider {
    background: #2E2A36;
  }
}

// ----------------------------------- //


// ----------------------------------- //

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #FAFAFA;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
h3, p{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
h2{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}
h4{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}


// ----------------------------------- //

.section_center{
  display: flex;
  justify-content: center;
}

// MARGINS
// ----------------------------------- //

.mt-30{
  margin-top: 30px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-100{
  margin-bottom: 50px;
}

// TEXT FORMAT
// ----------------------------------- //

::placeholder {
  color: #BAB9BD;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text_white{
  color: white;
}
.text_subscribe{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
}
.text_center{
  text-align: center;
}
.text_label{
  color: #130F1C;
}
.text_input_footer{
  color: #5A5761;
}
.text_input_override{
  color: #BAB9BD;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text_order_items{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5761;
}


// LOGIN
// ----------------------------------- //

.login_form{
  display: flex;
  flex-direction: column;
}
.input_style{
  height: 2vw;
  min-height: 26px;
  background: #FAFAFA;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.login_container{
  padding: 32px;
  width: 25%;
  min-width: 250px;
  background:  #FFFFFF;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.login_subscribe_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.login_social_container{
  display: flex;
  gap: 16px;
  width: 100%;
}

// IMAGE CLASSES FOR DARKMODE
// ----------------------------------- //

.login_icon1{
  background-image: url("assets/images/login_icon1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.login_icon2{
  background-image: url("assets/images/login_icon2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

//BUTTONS

.button{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  background: #651FFF;
  border-radius: 5px;
  padding: 12px;
  height: 48px;
  border: none;
  cursor: pointer;

  &:hover{
    background: #9276f7;
    transition: .6s;
  }
}
.login_button_social{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 48px;
  border: 1px solid #ECECEE;
  border-radius: 5px;
  &:hover{
    background-color: #dcdcdc;
    cursor: pointer;
    transition: .6s;
  }
}
.button_submit_container{
  display: flex;
  justify-content: flex-end;
}
.button_submit{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  background: #651FFF;
  border-radius: 5px;
  padding: 12px 48px;
  margin-right: 10px;
  height: 48px;
  border: none;
  cursor: pointer;

  &:hover{
    background: #9276f7;
    transition: .6s;
  }
}
.btn-toggle{
  position: sticky;
  top: 30px;
  left: 30px;

}

// CONTACT US SECTION
// ----------------------------------- //

.contact_container{
  padding: 32px;
  width: 35%;
  min-width: 600px;
  background:  #FFFFFF;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.contact_form{
  display: flex;
  flex-direction: column;
}
.contact_input_container{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.contact_input_element{
  display: flex;
  flex-direction: column;
  gap: 6%;
  width: 47%;
}
.contact_textarea{
  width: 97%;
  height: 150px;
  background: #F3F3F5;
  border-radius: 5px;
  border: none;
}
.contact_textarea_label{
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px;
}

// CONTACT INFO
// ----------------------------------- //

.contact_container_sm{
  padding: 32px;
  width: 25%;
  min-width: 400px;
  background:  #FFFFFF;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-radius: 0px 10px 10px 0px;
  
}
.contact_info_container{
  background: #651FFF;
  border-radius: 10px 0px 0px 10px;
  width: 200px;
  min-width: 100px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.contact_info_icons{
  display: flex;
  gap: 10px;
}

// CHECKOUT
// ----------------------------------- //

.checkout_container{
  padding: 32px;
  width: 45%;
  min-width: 700px;
  background:  #FFFFFF;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.checkout_details_container{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.checkout_details_element{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 47%;
}
.checkout_details_divider{
  display: flex;
  gap: 20px;
}
.checkout_details_element_sm{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkout_details_element_order{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 55px;
}
.checkout_padding{
  padding-left: 55px;
}
.checkout_input_container{
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: space-between;
}
.checkout_input_element{
  display: flex;
  flex-direction: column;
  width: 49%;
}
.checkout_inputs_divider{
  display: flex;
  gap: 15px;
  width: 49%;
}

// CHECKBOX
// ----------------------------------- //

.contact_checkbox_container{
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contact_checkbox_container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid #f0eded;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.contact_checkbox_container:hover input ~ .checkmark {
  background-color: rgb(237, 237, 237);
  transition: .4s;
}

/* When the checkbox is checked, add a blue background */
.contact_checkbox_container input:checked ~ .checkmark {
  background: #FD7918;
  border-radius: 4px;
  transition: .6s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contact_checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contact_checkbox_container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//SWITCH
// ----------------------------------- //

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// SLIDER FOR SWICTH

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background: #E9E9E9;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FD7918;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

// DIVIDER

.login_divider{
  width:100%;
  height: 2px;
  background: #ECECEE;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .contact_input_container{
    flex-wrap: wrap;
    width: 100%;
  }
  .contact_input_element{
    width: 100%;
  }
  .button_submit{
    width: 100%;
    margin: 0;
  
    &:hover{
      background: #9276f7;
      transition: .6s;
    }
  }
  .contact_info_container{
    display:none;
  }
  .contact_container_sm{
    width: 70%;
    min-width: 250px;
  }
  .contact_container{
    width: 70%;
    min-width: 250px;
  }
  .checkout_container{
    padding: 32px;
    width: 70%;
    min-width: 400px;
    background:  #FFFFFF;
    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .checkout_details_divider{
    width: 100%;
    justify-content: space-between;
  }
  .checkout_details_container{
    flex-direction: column;
  }
  .checkout_details_element{
    width: 100%;
    gap: 2px;
  }

  .checkout_details_element_order{
    width: 100%;
    flex-direction: row;
    gap: 20px;
  }
  .checkout_input_container{
   flex-direction: column;
   gap: 5px;
  }
  .checkout_input_element{
    width: 100%;
  }
  .checkout_inputs_divider{
    width: 100%;
  }
}

// DARKMODE BUTTON

.btn-toggle {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-toggle:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-toggle:focus {
  outline: none;
}

.btn-toggle {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
